<h2 class="text-primary">Centro de mensajes</h2>
<form action="/" method="post" id="myChat">
  <div class="mb-3">
    <div class="form-control w-25" id="username"></div>
  </div>
  <div class="mb-3">
    <input id="text" type="text" class="form-control w-25 d-inline" placeholder="Ingrese mensaje..."/>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
  <hr>
  <div id="messages"></div>
</form>