<div class="container alert alert-primary p-3">
  <h2 class="text-primary">Hubo un error al logearse</h2>
</div>
<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = `/login`;
  }, 2000)
</script>