<header>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Formulario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos">Productos</a>
      </li>
    </ul>
</header>