<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="productos">Form y Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="chat">Chat</a>
    </li>
  </ul>
</header>