<div class="alert alert-success p-3 d-flex justify-content-between">
  <h2 class="text-success" style="display: inline">Bienvenido{{!-- {{this.name}} --}}</h2>
  <button class="btn btn-warning">Deslogear</button>
</div>