<div class="container alert alert-primary p-3">
  <h2 class="text-primary">Hasta luego {{this.name}}</h2>
</div>
<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/login";
  }, 2000)
</script>